{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>OWShop</h1>
    <p class="lead">OWShop — это сайт, созданный преданными фанатами для таких же фанатов Overwatch 2 - командного шутера от Blizzard Entertainment.</p>
    <p><a href="https://overwatch.blizzard.com/" class="btn btn-default">Узнать больше</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Начало работы</h2>
        <p>
            Overwatch 2 — это динамичный командный шутер, где игроки выбирают героев с уникальными способностями и сражаются в различных режимах. Начните своё путешествие в мире Overwatch!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Герои Overwatch</h2>
        <p>В Overwatch 2 представлены десятки уникальных героев, каждый с уникальными способностями и стилем игры. Выберите своего фаворита и станьте мастером!</p>
    </div>
    <div class="col-md-4">
        <h2>Сообщество Overwatch</h2>
        <p>Присоединяйтесь к миллионам игроков по всему миру, участвуйте в турнирах, обсуждайте стратегии и делитесь своими достижениями в сообществе Overwatch.</p>
    </div>
</div>

{% endblock %}