{% extends "app/layout.html" %}
{% load static %}

{% block content %}

<div class="jumbotron">
    <h1>OWShop</h1>
    <p class="lead">OWShop — это сайт, созданный преданными фанатами для таких же фанатов Overwatch 2 - командного шутера от Blizzard Entertainment.</p>
    <p><a href="https://overwatch.blizzard.com/" class="btn btn-primary">Узнать больше</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Начало работы</h2>
        <p>
            Overwatch 2 — это динамичный командный шутер, где игроки выбирают героев с уникальными способностями и сражаются в различных режимах. Начните своё путешествие в мире Overwatch!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Герои Overwatch</h2>
        <p>В Overwatch 2 представлены десятки уникальных героев, каждый с уникальными способностями и стилем игры. Выберите своего фаворита и станьте мастером!</p>
    </div>
    <div class="col-md-4">
        <h2>Сообщество Overwatch</h2>
        <p>Присоединяйтесь к миллионам игроков по всему миру, участвуйте в турнирах, обсуждайте стратегии и делитесь своими достижениями в сообществе Overwatch.</p>
    </div>
</div>

    <div class="glide">
         <div class="glide__track" data-glide-el="track">
             <ul class="glide__slides">
                 <li class="glide__slide"><img src="{% static 'app/content/slider1.avif' %}" alt="ing1"></li>
                 <li class="glide__slide"><img src="{% static 'app/content/slider1.jpg' %}" alt="img2"></li>
                 <li class="glide__slide"><img src="{% static 'app/content/slider3.jpg' %}" alt="img3"></li>
                 <li class="glide__slide"><img src="{% static 'app/content/slider2.avif' %}" alt="img4"></li>
             </ul>
         </div>
         <div data-glide-el="controls">
             <button data-glide-dir="<">Пред</button>
             <button data-glide-dir=">">След</button>
         </div>
     </div>
     <script>
         new Glide('.glide', {
             type: 'carousel',
             autoplay: 3000,
             hoverpause: true,
             perView: 1,
         }).mount();
     </script>
     
     
{% endblock %}