{% extends "app/layout.html" %}

{% block content %}
{% load static %}

    <main>
        <section class="link-section">
            <h2>Официальные ресурсы</h2>
            <ul>
                <li>
                    <a href ="https://overwatch.blizzard.com" target="_blank"> <img src="{% static 'app/content/favicon1.png' %}" alt="Logo 1"/></a>
                    <a class="orange" href="https://overwatch.blizzard.com" target="_blank">Официальный сайт</a>
                    <p>Официальный портал игры с последними новостями и обновлениями</p>
                </li>
                <li>
                    <a href ="https://www.blizzard.com" target="_blank"> <img src="{% static 'app/content/favicon2.png' %}" alt="Logo 1"/></a>
                    <a class="orange" href="https://www.blizzard.com" target="_blank">Blizzard Entertainment</a>
                    <p>Сайт разработчика - информация о компании и других проектах</p>
                </li>
                <li>
                    <a href ="https://overwatch.fandom.com" target="_blank"> <img src="{% static 'app/content/favicon3.png' %}" alt="Logo 1"/></a>
                    <a class="orange" href="https://overwatch.fandom.com" target="_blank">Overwatch Wiki</a>
                    <p>Самая полная энциклопедия по вселенной Overwatch</p>
                </li>
            </ul>
        </section>
    </main>

{% endblock %}