<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>О нас | OWShop</title>
    <link rel="stylesheet" href="site.css">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <img class="logo" src="images/ow2-logo.png" alt="OW2 Logo" width="200">
        <h1>Overwatch Shop</h1>
    </header>

    <nav>
        <ul>
            <li><a href="about.html">Главная</a></li>
            <li><a href="about.html">О сайте</a></li>
            <li><a href="links.html">Полезные ссылки</a></li>
        </ul>
    </nav>

    <main>
        <article>
            <h2>О нашем сайте</h2>
            <p>Этот сайт создан преданными фанатами для таких же фанатов Overwatch 2 - командного шутера от Blizzard Entertainment. 
            Здесь вы найдете:</p>

            <ul>
                <li>Последние новости об игре</li>
                <li>Выгодные предложения и акции</li>
                <li>Анализ игровых обновлений</li>
            </ul>

            <section>
                <h3>Что нового в Overwatch 2?</h3>
                <figure>
                    <img src="images/gameplay.png" alt="Gameplay" class="content-img">
                </figure>
                <p>
                    В Overwatch 2 добавят <span class="highlight">новый режим</span> «Стадион», в котором две команды по пять человек будут сражаться до семи побед. 
                    Режим станет своего рода аналогом Counter-Strike или Valorant, но в онлайн-шутере Blizzard. В каждом раунде игроки будут зарабатывать валюту, 
                    которую можно будет тратить на улучшение персонажей.
                    Важная особенность «Стадиона» — возможность играть с видом от третьего лица. 
                </p>
                <p>
                    Режим появится в игре с запуском 16-го сезона в апреле 2025 года. В Blizzard называют его совершенно новым способом игры в Overwatch.
                    На релизе в «Стадионе» будет как минимум 14 героев. В будущем в него добавят и других персонажей, больше карт и режимов.
                    , новые карты и режимы, а также полный редизайн визуальной составляющей.
                </p>
            </section>

            <section>
                <h3>Лутбоксы вернулись</h3>
                <figure>
                    <img src="images/lootbox.avif" alt="lootbox" class="content-img">
                </figure>
                    <p>Они вернулись! Что может выпасть в "новых" лутбоксах? Известно, что магазинные предметы прошлых сезонов тоже могут выпасть.</p>
                    <p>Вот список всевозможного дропа:</p>
                    <ol>
                        <li>Скины на персонажей - от редких до легендарных</li>
                        <li>Скины на оружие</li>
                        <li>Лучшие моменты матча</li>
                        <li>Эмоции</li>
                        <li>Сувениры</li>
                        <li>Реплики</li>
                        <li>Граффити</li>
                        <li>Визитки</li>
                        <li>Аватарки</li>
                    </ol>
</section>
        </article>
    </main>

    <footer>
        <p>Этот сайт является фанатским и не связан с Blizzard Entertainment.</p>
    </footer>
</body>
</html>