{% extends 'app/layout.html' %}  
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/pool.css' %}">
{% endblock %}

{% block content %}
<section class="feedback-section">
    {% if submitted %}
    <p class="success-message">Спасибо за ваш отзыв!</p>
    <ul>
        {% for item in submitted_data %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <h1>Оставьте свой отзыв!</h1>
    <form method="post" class="feedback-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-button">Отправить</button>
    </form>
    {% endif %}
</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'app/scripts/pool.js' %}"></script>
{% endblock %}